body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: transparent;
}
.title{
  background-color: transparent;
}
.dancer {
  /*border:10px solid;
  border-radius: 50%;*/ 
  position:absolute;
}
.nermine {
  height: 200%;
  width: 200%;
}
.mirror {
 -webkit-transform: scale(-1, 1);
 transform: scale(-1, 1);
}
.bouden {
  margin-left: 350px;
  margin-top: 200px;
  height: 40%;
  width: 40%;
  position: relative;
  animation: rotation 7s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.uniqueBouden {
  background-color: white;
  float: center;
  border: 5px solid;
  border-color: #dc143c;
  position: fixed;
  top: 200px;
  left: 700px;
  height: 100px;
  width: 400px;
  font-size: 36px;
  font-family: Verdana;
  color: #dc143c;
  text-align: center;
  padding-top: 20px;
  display: none;
}